<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JOLI - Home</title>
 <link rel="stylesheet" href="styles/create.post.css" />
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="images/joli3.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="images/joli3.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <header>
  <a href="" id="logo">
    <img src="images/joli-light.png" alt="logo" class="logo" />
  </a>
  <div class="side-bar">
    <a href="/" id="sign-in-link" class="hidden" >Sign In</a>
    <img src="#" alt="profile picture" id="user-pic" class="hidden" />
  </div>
  </header>
  <main>    
  <h2>Create post</h2>
    <section class="posts">
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
    </section>
    <article></article>
    </main>
  <div class="tabs">
        <div dataset="home" class="active" title="home">
           <a href="/">
            <img src="images/home.png" class="home tab" alt="home icon"/>
           </a>
        </div>
          <div dataset="friends" title="friends">
            <a href="/followers">
            <img src="images/friends.png" class="friends tab" alt="friends icon" />
            </a>
        </div>
          <div dataset="add-post" class="add-post" title="add post">
            <div></div>
            <div></div>
        </div>
          <div dataset="chat" title="chat">
            <a href="/messages">
            <img src="images/chat.png" class="chat tab" alt="chat icon"/>
            </a>
        </div>
          <div dataset="search" title="search">
            <a href="/search">
            <img src="images/search.png" class="search tab"  alt="search icon"/>
            </a>
        </div>
          </div>
  <section class="notifier"></section>
  <script src="scripts/index.js"></script>
</body>
</html>
