<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JOLI - Home</title>
 <link rel="stylesheet" href="styles/style.css" />
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="images/joli3.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="images/joli3.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <main>
     <div id="auth-section"></div>
        <div class="container">
            <div class="logo-caption">
                <img src="images/joli-light.png" alt="logo" class="logo" />
                <h1 class="caption">Connect with your People</h1>
            </div>
            <div class="sign-in-container">
                <a href="/api/auth/google" class="google">
                    <img src="images/google-icon.png" alt="google-logo" />
                    <span>Continue with Google </span>
                </a>
                <a href="/api/auth/login" class="phone">
                  <i class="fa-solid fa-phone"></i> 
                  <span>Continue with Phone</span>
                </a>
                <div class="divider">
                    <div></div>
                    or
                    <div></div>
                    </div>
                <div class="email">
                    <input type="text" placeholder="Email or Username" id="email-input" />
                    <button id="email-btn" disabled onclick="proceedWithEmail()">Continue</button>
                </div>
            </div>
           <form id="email-signup" class="hidden">
             <h2>Create an Account</h2>
             <div class="input-box">
               <label>Email</label>
               <input name="email" type="email" placeholder="abc@mail.com">
                <small id="email-error"></small>
             </div>
             <div class="input-box">
               <label>Username</label>
               <input name="username" type="text" placeholder="Create username">
               <small id="username-error"></small>
             </div>
             <div class="input-box">
               <label>Password</label>
               <input name="password" type="password">
               <i class="fa-solid fa-eye" onclick="toggleReveal(this)"></i>
                <small id="pwd-error"></small>
             </div>
             <div class="input-box">
               <label>Confirm Password</label>
               <input type="password" name="passwordConfirm">
                <small id="pwd-cfm-error"></small>
             </div>
             <small id="form-message"></small>
             <button type="submit" >Create My Account</button>
             <p>Already have an account?, <span onclick="showSignInForm()">Sign In</span></p>
             <div class="other-login">
             <a href="/api/auth/google" class="google">
                    <img src="images/google-icon.png" alt="google-logo" />
                    <span>Sign Up with Google </span>
                </a>
                <a href="/api/auth/login" class="phone">
                  <i class="fa-solid fa-phone"></i> 
                  <span>Sign Up with Phone</span>
                </a>
             </div>
           </form>
           
           <form id="email-signin" class="hidden">
             <h2>Sign In to your Account</h2>
             <div class="input-box">
               <label>Email or Username</label>
               <input name="email" type="email" placeholder="Enter username or email">
             </div>
             <div class="input-box">
               <label>Password</label>
               <input name="password" type="password">
             </div>
              <small id="form-message"></small>
             <button type="submit" >Sign In</button>
             <p>Are you new here?, <span onclick="showSignUpForm()">Sign Up</span></p>
             <div class="other-login">
             <a href="/api/auth/google" class="google">
                    <img src="images/google-icon.png" alt="google-logo" />
                    <span>Sign In with Google </span>
                </a>
                <a href="/api/auth/login" class="phone">
                  <i class="fa-solid fa-phone"></i> 
                  <span>Sign In with Phone</span>
                </a>
             </div>
           </form>
        </div>
      </main>
  <footer>
    <p>JOLI, 2026 </p>
    <p>Made with 💚 by <a href="https://portfolio-red-rho-44.vercel.app/" target="_blank">Mubarak Alli</a></p>
  </footer>
  <script src="scripts/script.js"></script>
</body>
</html>
