<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JOLI - Home</title>
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="images/joli.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="images/joli.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <main>
     <div id="auth-section"></div>
        <div class="container">
            <div class="logo-caption">
                <img src="joli.png" alt="logo" class="logo" />
                <h1 class="caption">Connect with your People</h1>
            </div>
            <div class="sign-in-container">
                <a href="" class="google">
                    <img src="google-icon.png" alt="google-logo" />
                    <span>Continue with Google </span>
                </a>
                <a href="" class="phone">
                    Continue with Phone Number
                </a>
                <div class="divider">
                    <div></div>
                    or
                    <div></div>
                    </div>
                <div class="email">
                    <input type="text" placeholder="Email or Username" />
                    <a href="" id="email-login">Continue</a>
                </div>
            </div>
        </div>
      </main>
</body>
</html>
