<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JOLI - Connect with Friends and Family</title>
 <link rel="stylesheet" href="styles/style.css" />
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="images/joli3.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="images/joli3.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <main>
        <div class="container">
            <div class="logo-caption">
                <img src="images/joli-light.png" alt="logo" class="logo" />
                <h1 class="caption">Connect with your People</h1>
            </div>
            <div class="sign-in-container">
                <a href="/api/auth/google" class="google">
                    <img src="images/google-icon.png" alt="google-logo" />
                    <span>Continue with Google </span>
                </a>
                <a href="#" class="phone" onclick="notify('This feature is not available yet!')">
                  <i class="fa-solid fa-phone"></i> 
                  <span>Continue with Phone</span>
                </a>
                <div class="divider">
                    <div></div>
                    or
                    <div></div>
                    </div>
                <div class="email">
                    <input type="text" placeholder="Email or Username" id="email-input" autofocus />
                    <button id="p-btn" disabled >Continue</button>
                </div>
            </div>
           <div class="form-container">
           <form id="email-signup" class="hidden">
             <h2>Create an Account</h2>
             <div class="input-box">
               <label for="email">Email</label>
               <input name="email" type="email" placeholder="abc@mail.com" id="email">
                <small id="email-error"></small>
             </div>
             <div class="input-box">
               <label for="username">Username</label>
               <input name="username" type="text" placeholder="Create username" id="username">
               <small id="username-error"></small>
             </div>
             <div class="input-box">
               <label for="password">Password</label>
               <input name="password" type="password" id="password">
               <i class="fa-solid fa-eye pr-icon" ></i>
                <small id="pwd-error"></small>
             </div>
             <div class="input-box">
               <label for="c-password">Confirm Password</label>
               <input type="password" name="passwordConfirm" id="c-password">
               <i class="fa-solid fa-eye pr-icon" ></i>
                <small id="pwd-cfm-error"></small>
             </div>
             <small id="form-message"></small>
             <button type="submit" >Create My Account</button>
             <p>Already have an account?, <span id="ssif-btn">Sign In</span></p>
             <p>Forgot your password?, <span id="surp-btn">reset it</span></p>
             <div class="other-login">
             <a href="/api/auth/google" class="google">
                    <img src="images/google-icon.png" alt="google-logo" />
                    <span>Sign Up with Google </span>
                </a>
                <a href="#" class="phone" onclick="notify('This feature is not available yet!')">
                  <i class="fa-solid fa-phone"></i> 
                  <span>Sign Up with Phone</span>
                </a>
             </div>
           </form>
           
           <form id="email-signin" class="hidden">
             <h2>Sign In to your Account</h2>
             <div class="input-box">
               <label for="identifier">Email or Username</label>
               <input name="identifier" type="text" placeholder="Enter username or email" id="identifier">
             </div>
             <div class="input-box">
               <label for="i-password">Password</label>
               <input name="password" type="password" id="i-password">
               <i class="fa-solid fa-eye pr-icon"></i>
             </div>
              <small id="form-message"></small>
             <button type="submit" >Sign In</button>
           
             <p>Are you new here?, <span id="ssuf-btn">Sign Up</span></p>
             <p>Forgot your password?, <span id="sirp-btn">reset it</span></p>
           
             <div class="other-login">
             <a href="/api/auth/google" class="google">
                    <img src="images/google-icon.png" alt="google-logo" />
                    <span>Sign In with Google </span>
                </a>
                <a href="#" class="phone" id="pr-btn">
                  <i class="fa-solid fa-phone"></i> 
                  <span>Sign In with Phone</span>
                </a>
             </div>
           </form>

            <form id="reset-password" class="hidden">
               <i id="return-btn" class="fa-solid fa-arrow-left"></i>
              <h2>Reset password</h2>
              <div class="input-box">
               <label for="r-email">Enter the email in your account</label>
               <input name="email" type="text" id="r-email" placeholder="Enter email">
              </div>
              <small id="form-message"></small>
              <button type="submit" >Proceed</button>
            </form>
               
           </div>
        </div>
      </main>
  <footer>
    <p>JOLI, 2026 </p>
    <p>Made with 💚 by <a href="https://portfolio-red-rho-44.vercel.app/" target="_blank">Mubarak Alli</a></p>
  </footer>
  <section class="notifier"></section>
  <script src="scripts/script.js"></script>
</body>
</html>
