<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JOLI - Messages</title>
   <link rel="stylesheet" href="/styles/tabs.post.css" />
 <link rel="stylesheet" href="/styles/messages.css" />
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="images/joli3.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="images/joli3.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <!--   <style>
        body { font-family: system-ui, sans-serif; max-width: 600px; margin: 40px auto; padding: 0 20px; }
        .status { padding: 8px 12px; margin-bottom: 16px; border-radius: 4px; font-weight: bold; }
        .connected { background-color: #d1e7dd; color: #0f5132; }
        .disconnected { background-color: #f8d7da; color: #842029; }
        #log { border: 1px solid #ccc; height: 200px; overflow-y: scroll; padding: 10px; margin-bottom: 10px; background: #f9f9f9; }
      </style>
  -->
     <script src="https://cdn.socket.io/4.8.3/socket.io.min.js" crossorigin="anonymous"></script>

</head>
<body>
  <header id="header">
  <a href="/" id="logo">
    <img src="/images/joli-light.png" alt="logo" class="logo" />
  </a>
  <div class="side-bar">
    <a href="/search"  class="search-link" >
      <img src="/images/search.png"   alt="search icon"/>
    </a>
    <a href="/" id="sign-in-link" class="hidden" >Sign In</a>
    <img src="/images/default-user.png" alt="profile picture" id="user-pic"  />
  </div>
    <marquee>All mails sent by <b>joli.app.connect@gmail.com</b> are from <b>JOLI</b> and that is the only trusted email. Beware of impersonators. </marquee>
  </header>
  <main>    
     <!--   <h1>WebSocket Client</h1>
    <div id="status" class="status disconnected">Disconnected</div>
    
    <div id="log"></div>
    
<h3>Chat with Friend (<span id="chat-status" style="color: gray;">Connecting...</span>)</h3>
    
 
  <div id="chat-box"> </div>
  
  <input type="text" id="message-input" placeholder="Type your message here...">
  <button id="send-btn">Send</button>
    -->
    <section class="messages">
      <div class="c-loader"></div>
      <div class="c-loader"></div>
      <div class="c-loader"></div>
      <div class="c-loader"></div>
      <div class="c-loader"></div>
    </section>
    
    <section id="s-c-container" class="hidden">
      <h3>Start a conversation </h3>
      <form id="s-f-form">
        <input type="text" placeholder="search for a friend" maxlength="26" />
        <button id="s-f-btn">
          <img src="/images/search.png"   alt="search icon"/>
        </button>
      </form>
      <div id="f-container"></div>
    </section>
    
    <article></article>
    </main>
  
    <div id="menu-container">
        <div id="m-closer">
            <div>
            <i id="m-closer-btn" class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div id="menu-options">
            <div id="profile-info">
                <div id="side-header">
                    <img id="profile-pic" alt="profile-pic" src="pic.png">
                    <h3 id="u-name">User</h3>
                    <p id="user-email">Email</p>
                </div>
                  <a href="/api/auth/logout" id="logout-link">
                    Log out
                </a>
            </div>
            <div id="extras">
                  <a href="#" id="profile-link">
                    <i class="fa-regular fa-circle-user"></i>
                    Profile
                </a>
            </div>
            <div id="account-settings">
                <a href="#" id="settings-link">
                    <i class="fa-solid fa-gear"></i>
                    Account Settings 
                </a>
            </div>
        </div>
  </div>
  
  <div id="start-message-container">
   <button id="start-message-btn">
     <div class="plus"></div>
     <div class="plus"></div>
    <i class="fa-regular fa-message"></i>
   </button>
  </div>
  
  <div id="notifier" class="hidden">
        <p id="n-message">post created</p>
        <a href="#" id="n-link">view post</a>
        <span id="n-closer">
          <i class="fa-solid fa-xmark"></i>
        </span>
  </div>

    <div class="tabs">
        <div dataset="home" title="home">
           <a href="/">
            <img src="/images/home.png" class="home tab" alt="home icon"/>
             <span>Home</span>
           </a>
        </div>
          <div dataset="friends" title="friends">
            <a href="/friends">
            <img src="/images/friends.png" class="friends tab" alt="friends icon" />
              <span>Friends</span>
            </a>
        </div>
          <div dataset="add-post" class="add-post" title="add post">
            <div></div>
            <div></div>
            <span>Post</span>
        </div>
          <div dataset="chat" title="chat" class="active">
            <a href="/messages">
            <img src="/images/chat-active.png" class="chat tab" alt="chat icon"/>
              <span>Messages</span>
            </a>
        </div>
          <div dataset="inbox" title="inbox">
            <a href="/inbox">
            <img src="/images/bell.png" class="inbox tab"  alt="bell icon"/>
              <span>Inbox</span>
            </a>
        </div>
    </div>
    <div class="hidden" id="image-cropper">
        <button id="crop-saver"><i class="fa-solid fa-check"></i></button>
        <div id="image-box"></div>
    </div>
  <script src="scripts/index.js"></script>
  <script src="scripts/messages.js"></script>
</body>
</html>
