<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JOLI - Error Page</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/images/joli3.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/joli3.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <main>
     <div id="auth-section"></div>
        <div class="container">
            <div class="logo-caption">
                <img src="/images/joli-light.png" alt="logo" class="logo" />
              <br><br>
              <h3>Post Not Found</h3>
              <br><br>
              <a href="/"class="home-link">Go to Homepage</a>
                
            </div>
            
        </div>
      </main>
</body>
  </html>
