@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body{
  position:relative;
  width: 100%;
  background: #ddd;
}
.notifier{
            position: absolute;
            width:100%;
            height:40px;
            display:flex; 
            padding: 10px;
            align-items:center;
            justify-content: center;
            gap:30px;
            background: tan;
            top:-40px;
            left:0;
            transition: all ease 0.3s;
        }
        .notifier p{
            font-size: 19px;
            font-weight: 500;
        }
notifier i{
  font-size: 0.9rem;
  cursor:pointer;
}
header{
  width:100%;
  height: 75px;
  background: #fff;
  position: sticky;
  z-index: 90;
  left:0;
  top:0;
  border-bottom: 2px solid #555;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
header #logo{
  text-decoration: none ;
  height: 100%;
  display: block;
}
header #logo img{
  height:100%;
  width: auto;
}
header .side-bar{
  display: flex;
  align-items: center;
  justify-content:center;
  min-width: 30px;
  padding: 10px 0;
  gap:15px;
}
.side-bar a{
  display:block;
  border: 2px solid rgba(0,0,0,0.08);
  color: #eee;
  width:100%;
  padding:10px;
  text-decoration:none;
 font-size: 1.1rem;
  border-radius: 30px;
  background: #222;
}
.side-bar a:hover{
background:#000;
}
.side-bar img{
  height: 35px;
  width: 35px;
  border : 2px solid #555;
  border-radius: 50%;
}
main{
    width:100%;
}
        .postCard{
            background:#fff;
            display: flex; 
            align-items: center;
            justify-content:center;
            gap: 15px;
            flex-direction: column;
            width:100%;
            overflow:hidden;
            margin-bottom: 10px;
            padding: 20px;
        }
        .post-header{
            width:100%;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .author-details{
             display: flex;
            align-items: center;
            justify-content: start;
            gap:10px;
            width: 100%;
          
        }
        .author-image{
            width: 45px;
            height:45px;
            border-radius: 50%;
            border: 2px solid #777;
        }
        .author-image a{
            text-decoration: none;
        }
        .author-image img{
            width: 45px;
            height:45px;
            border-radius: 50%;
        }
        .username-posttime {
             display: flex;
            align-items: start;
            justify-content: center;
            gap:5px;
            flex-direction:column;
          }
        .author-link{
            text-decoration: none;
        }
        .author-username {
            font-weight: 500;
            color: #222;
            font-size: 1.3rem;
        }
        .post-menu{
            width: 30px;
            height: 30px;
            border-radius:5px;
            cursor:pointer;
            background: transparent;
            position: relative;
            transition: all 0.3 ease;
        }
        .post-menu:hover {
            background:rgba(0,0,0,0.05)
        }
        .post-menu > div{
            position: absolute;
            width:4px;
            height:4px;
            background:#222;
            border-radius:5px;
            left: 13px;
            top: 6px;
        }
        .post-menu > div:nth-child(2){
            top: 13px;
        }
        .post-menu > div:nth-child(3){
            top: 20px;
        }
        .post{
            width:100%;
        }
        .post-content{
           width:100%;
            font-size: 1.2rem;
            padding: 10px 0;
            
        }
        .post-images{
            width: 100%;
            text-align:center;
        }
        .post-images img{
            width:100%;
            height: auto;
            max-height:500px;
            object-fit: cover;  
           object-position: center; 
           border-radius: 10px;
           border: 1px solid #ccc;
        }
        .interactions{
           padding: 5px;
            width:100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .interactions> div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          padding: 10px 15px;
          border: 1px solid #eee;
          border-radius: 10px;
        }
        .interactions > div button{
            border-radius:5px;
            cursor: pointer;
            border: none;
            background: transparent;
            
        }
  .interactions > div button i{
            font-size: 1.3rem;
  }
        .interactions > div button:hover{
            background:#eee;
  }
  
  @keyframes load{
    to{
      left: 110%;
    }
  }
  .hidden{
    display: none !important;
  }

@media screen and (min-width:762px){
  .container{
    flex-direction: row-reverse;
    align-items: start;
    gap:30px;
  }
  .logo-caption{
    display: flex;
    flex-direction:column;
    height:100dvh;
    align-items: center;
    justify-content:center;
  }
  .sign-in-container{
    min-height: 95dvh;
    min-width: 350px;
  }
  .logo{
    width:300px;
    height: 300px;
  }
  .form-container{
    display:flex;
    min-height: 95dvh;
    flex-direction: column;
    align-items :center ;
    justify-content:center;
  }
  
}
  
