@import url('https://googleapis.com');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  position:relative;

}
#auth-section{
  position: absolute;
  width : 100dvh;
  top:0;
  left:0;
  background: rgba(0,0,0,0.05);
}
main{
            display:flex;
            align-items:center;
            justify-content:center;
            height:100dvh;
        }
#auth-section{
  height: 30px;
  background: #ccc;
}
        .container{
            padding:20px;
            background: transparent;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:12px;
            text-align:center;
            
        }
        .logo{
            width:150px;
            height:150px;
            margin-bottom: 12px;
        }
        .container h1{
            font-size:2rem;
            margin-bottom: 2rem;
        }
        .container div{
            width:100%;
        }
        .sign-in-container{
            display: grid;
            gap: 12px;
            width:100%;
        }
        
        .container a{
            display:block;
            border: 2px solid rgba(0,0,0,0.08);
            color: #444;
            width:100%;
            padding:10px;
            text-decoration:none;
            border-radius: 30px;
        }
         a.google img{
            height: 20px;
            width:20px;
            border-radius: 50%;
        }
        a.google{
            display:flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
       
        a.phone{
            background: #000;
            color: #fff;
        }
        .divider{
            display:flex;
            align-items: center;
            justify-content: space-between;
            width:100%;
        }
        .divider > div{
            width:45%;
            height:2px;
            background: rgba(0,0,0,0.08);
        }
        
        .email input{
            width:100%;
            font-size:1.1rem;
            padding: 12px 5px;
            border : 2px solid rgba(0,0,0,0.08);
            border-radius: 10px;
            margin-bottom: 12px;
            outline: none;
        }
        .email input:focus{
            border-color: #444;
        }
        .email a{
            background: rgba(0,0,0,0.25);
            color: #555;
          }
