
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body{
  position:relative;
  width: 100%;
  
}
#auth-section{
  position: absolute;
  width : 100%;
  top:0;
  left:0;
  height:fit-content;
  background: rgba(0,0,0,0.04);
}
main{
            display:flex;
            align-items:center;
            justify-content:center;
            min-height: 100dvh;
        }
        .container, .other-login{
            padding:20px;
            background: transparent;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:20px;
            text-align:center;
            width: 100%;
           max-width: 600px;
        }
        .logo{
            width:200px;
            height:200px;
            margin-bottom: 20px;
        }
        .container h1{
            font-size:2rem;
            margin-bottom: 2rem;
        }
        .container div{
            width:100%;
        }
        .sign-in-container{
            display: grid;
            gap: 20px;
            width:100%;
        }
        
        .container a, #email-btn{
            display:block;
            border: 2px solid rgba(0,0,0,0.08);
            color: #444;
            width:100%;
            padding:10px;
            text-decoration:none;
          font-size: 1.1rem;
            border-radius: 30px;
        }
         a.google img{
            height: 20px;
            width:20px;
            border-radius: 50%;
        }
        a.google, a.phone{
            display:flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
       a.google:hover{
         color : #000;
       }
        a.phone{
            background: #000;
            color: #fff;
        }
     a.phone i{
       font-size: 1rem;
       color: #fff;
     }
        .divider{
            display:flex;
            align-items: center;
            justify-content: space-between;
            width:100%;
        }
        .divider > div{
            width:45%;
            height:2px;
            background: rgba(0,0,0,0.08);
        }
        
        .email input{
            width:100%;
            font-size:1.1rem;
            padding: 15px 5px;
            border : 2px solid rgba(0,0,0,0.08);
            border-radius: 5px;
            margin-bottom: 20px;
            outline: none;
        }
        input:focus{
            border-color: #444;
        }
        #email-btn{
            background: #777;
            color: #ccc;
            cursor: pointer;
          }
form{
            display: flex;
            width:100%;
            flex-direction: column;
            gap:20px;
            justify-content: start;
            align-items: center;
        }
        form > div{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap:3px;
        }
         .input-box{
           position: relative;
         }
         .input-box i{
           position: absolute;
           top: 35px;
           right:10px;
           font-size: 1.2rem;
           color: #333;
         }
        form label{
            font-size: 1.1rem;
            font-weight: 600;
        }
        form input{
            width:100%;
            font-size:1.1rem;
            padding: 15px 5px;
            border : 2px solid rgba(0,0,0,0.08);
            border-radius: 5px;
            outline: none;
        }
        form button[type="submit"]{
            display:block;
            border: 2px solid rgba(0,0,0,0.08);
            color: #eee;
            width:100%;
            padding:10px;
            text-decoration:none;
            border-radius: 30px;
            background: #111;
            font-size: 1rem;
            cursor: pointer;
        }
        form small{
            color: red;
            width:100%;
            text-align:left;
        }
  p span{
    color: #111;
    font-weight:600;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
  }
form a.phone{
   color: #444;
  background: transparent;
}
form a.phone i{
  color: #444;
}
form a:hover{
  color: #000;
}
        .invisible{
            opacity:0;
        }
        .hidden{
            display:none;
          }
footer {
  height:70px;
  padding: 10px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  gap:5px;
  background: rgba(0,0,0,0.02);
  width:100%;
  text-align:center
}
footer p{
  font-size: 0.8rem;
}
footer a{
  text-decoration: none;
}
